.slick-slide {
  padding: 0px !important;
}

.slide-home-page {
  padding: 10px !important;
}

.slide-detailproduct-item {
  /* border: 1px solid #333 !important; */
}

.slide-detailproduct .slick-slide{
  /* margin-left:  10px;
  margin-right:  10px; */
}